.atkinson-hyperlegible-regular {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-style: normal;
}
    
.atkinson-hyperlegible-bold {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    font-style: normal;
}
    
.atkinson-hyperlegible-regular-italic {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-style: italic;
}
    
.atkinson-hyperlegible-bold-italic {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.HadithQuote {
    margin: 2.5vw;
    font-size: clamp(5px, 8vw, 20px);
    font-size: clamp(5px, 7vh, 20px);
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 500;
}

.Link {
    margin: 2vw;
    font-size: clamp(10px, 2.5vw, 20px);
    font-family: "Atkinson Hyperlegible", sans-serif;
    cursor: pointer;
    
}

.MoonSunButton {
    padding: 2vh;
}